@page
@model BulkyWebRazor_Temp.Pages.Students.CreateModel


<form method="post"> 
    <div class="border p-3 mt-4">
        <div class="row pb-4">
             <h2 class="text-primary"> Create Student</h2>
             <hr/>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row">
            <label asp-for="Student.name" class="p-0"></label>
            <input asp-for="Student.name" type="text" class="form-control" />
            <span asp-validation-for="Student.name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Student.dept" class="p-1"></label>
            <input asp-for="Student.dept" type="text" class="form-control"/>
            <span asp-validation-for="Student.dept" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary" style="width:150px">Create </button>
            </div>
            
            <div class="col-6 col-md-3">
                <a asp-page="/Students/Index" class="btn btn-outline-secondary form-control">Back to List</a>
            </div>
        </div>
        
       
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
